@import '../../App/theme.module.scss';

.example {
  display: flex;
  flex-wrap: wrap-reverse;
  overflow: scroll;
  flex: 1;
}
.example > div {
  flex: 1;
}

.section {
  color: $lightPrimaryFontColor;
  padding: 0px 20px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.external {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 110, 255);
}

.external:hover {
  text-decoration: underline;
}
.external svg {
  stroke: rgb(0, 110, 255);
  vertical-align: middle;
}

//Dark theme
:global(.theme-dark) {
  & .section {
    color: $darkPrimaryFontColor;
  }
}
