.code {
  font-size: 14px !important;
  font-weight: normal;
  margin: 0px;
  border-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  /*  border: 1px dotted #dadada; */
  align-items: stretch;
  max-height: 400px;
  overflow-y: scroll;
  /*height: 100%;
  /*white-space: pre-wrap;*/
}
