$lightPrimaryFontColor: #494949;
$lightSecondaryFontColor: #494949;
$lightBackColor: #ffffff;
$lightBorderColor: #a9a9a9;
$lightThemeColor: #006eff;
$darkPrimaryFontColor: #ffffff;
$darkSecondaryFontColor: #fafafa;
$darkBackColor: #31353f;
$darkBorderColor: #fafafa;
$darkThemeColor: #006eff;
